* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Added element selector nav */
nav { 
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* updated to element selector */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* updated to element selector */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* updated to element selector */
seo {
    color: #d9dcd6;
}

/* updated to element selector */
ul { 
    list-style-type: none;
}

/* updated to element selector */
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* updated to element selector */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* updated to element selector */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* updated to class benefit */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* updated to element selector */
h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.17em;
}

/* added class selector aside-image */
.aside-image {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* updated the class selector name */
.seo-management-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* updated the class selector name */
.seo-management-marketing img {
    max-height: 200px;
}

/* updated the class selector name */
.seo-management-marketing h3 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* updated to element selector */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* updated to element selector */
footer h3 {
    font-size: 20px;
}
